@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<PruebaTecnica.Models.dbo_Usuario>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usuario</h2>

@using (Html.BeginForm("Index", "dbo_Usuario", FormMethod.Get))
{
    <table class="table">
        <tr>
            <td align="left">&nbsp;</td>
            <td>&nbsp;</td>
            <td align="center">
                @Html.DropDownList("SearchField", (IEnumerable<SelectListItem>)ViewData["SearchFields"], new {style = "width:150px;height:33px"})
                @Html.DropDownList("SearchCondition", (IEnumerable<SelectListItem>)ViewData["SearchConditions"], new { style = "width:150px;height:33px" })
                @Html.TextBox("SearchText", ViewData["SearchText"] as String, new { style = "width:100px;height:33px" })
                <input type="submit" value="Buscar" name="command" class="btn btn-default" />
                <input type="submit" value="Mostrar Todo" name="command" class="btn btn-default" /> 
            </td>
            <td>&nbsp;</td>
            <td align="right">&nbsp;</td>
        </tr>
        <tr>
            <td align="left">
                @Html.DropDownList("Exportar", (IEnumerable<SelectListItem>)ViewData["Exports"], new { style = "width:65px;height:33px" })
                <input type="submit" value="Exportar" name="command" class="btn btn-default" />
            </td>
            <td>&nbsp;</td>
            <td align="center">                
                <input type="submit" value="Insertar" name="command" class="btn btn-default" />
            </td>
            <td>&nbsp;</td>
            <td align="right">
                @Html.DropDownList("PageSize", (IEnumerable<SelectListItem>)ViewData["PageSizes"], new { style = "width:50px;height:33px" })
                <input type="submit" value="Cantidad de Registros" name="command" class="btn btn-default" />
            </td>
        </tr>
    </table>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Usuario", "Index", new { sortOrder = ViewData["IdUsuarioSortParm"], SearchText = ViewData["SearchText"] })
        </th>
        <th>
            @Html.ActionLink("Nombre", "Index", new { sortOrder = ViewData["NombreSortParm"], SearchText = ViewData["SearchText"] })
        </th>
        <th>
            @Html.ActionLink("Direccion", "Index", new { sortOrder = ViewData["DireccionSortParm"], SearchText = ViewData["SearchText"] })
        </th>
        <th>
            @Html.ActionLink("Fecha Nacimiento", "Index", new { sortOrder = ViewData["FechaNacimientoSortParm"], SearchText = ViewData["SearchText"] })
        </th>
        <th>
            @Html.ActionLink("Ciudad Nacimiento", "Index", new { sortOrder = ViewData["IdCiudadNacimientoSortParm"], SearchText = ViewData["SearchText"] })
        </th>
        <th>
            @Html.ActionLink("Tipo Documento", "Index", new { sortOrder = ViewData["IdTipoDocumentoSortParm"], SearchText = ViewData["SearchText"] })
        </th>
        <th>
            @Html.ActionLink("Numero Documento", "Index", new { sortOrder = ViewData["NumeroDocumentoSortParm"], SearchText = ViewData["SearchText"] })
        </th>
        <th>
            @Html.ActionLink("Ciudad Documento", "Index", new { sortOrder = ViewData["IdCiudadSortParm"], SearchText = ViewData["SearchText"] })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaNacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dbo_Ciudad.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dbo_TipoDocumento.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroDocumento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dbo_Ciudad.Id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {
 						IdUsuario = item.IdUsuario 
 						}) |
            @Html.ActionLink("Details", "Details", new {
 						IdUsuario = item.IdUsuario 
 						}) |
            @Html.ActionLink("Eliminar", "Eliminar", new {
 						IdUsuario = item.IdUsuario 
 						})
        </td>
    </tr>
}

</table>

<table class="table">
    <tr>
        <td align="center">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewData["CurrentSort"], SearchText = ViewData["SearchText"] }))
        </td>
    </tr>
</table>

 
